.butterfly {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
    animation: riseAndFall 0.8s infinite;
}

.body {
    position: absolute;
    bottom: 15px;
    left: 45px;
    width: 10px;
    height: 45px;
    background-color: #0f0f0e;
    transform: rotate(60deg);
    transform-origin: bottom center;
    border-radius: 50% 50% 6px 6px;
}

.head {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    transform-origin: 50% 100%;
    background: radial-gradient(circle, #555, #333 60%, #111);
}

.antenna {
    position: absolute;
    top: -20px;
    height: 40px;
    width: 2px;
    background-color: #555;
    transform-origin: bottom;
    border-radius: 100% 100% 0 0; /* Curving the antenna upwards */
    background: linear-gradient(to bottom, #555 70%, #444);
}

.leftAntenna {
    left: calc(40%);
    height: 30px;
    transform: rotate(-30deg);
}

.rightAntenna {
    left: calc(30%);
    height: 30px;
    transform: rotate(15deg);
}

.antennaBall {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    bottom: 100%; 
    left: 50%;
    transform: translateX(-50%) translateY(50%);
    background-color: #444;
    background: radial-gradient(circle, #666, #333 60%, #111);
}

.leftWing,
.rightWing {
    width: 44px;
    height: 42px;
    position: absolute;
    top: 20px;
}

.top,
.bottom {
    opacity: 0.7;
    position: absolute;
    border-radius: 12px; /* Making it rounder */
}

/* Top Wing Styling */
.top {
    width: 28px;  /* A bit wider than bottom */
    height: 28px; /* Same as width to make it round */
    top: 0;      /* Aligns to the top of the wing */
}

/* Bottom Wing Styling */
.bottom {
    top: 40px;  /* Positioned below the top wing */
    width: 30px;
    height: 30px;
}

/* Animations remain the same */

.leftWing {
    top: 0px;       /* Align the top with the right wing */
    left: -46px;   /* Shift it to the left to make space */
    transform-origin: 100% 50%; /* Rotate around the rightmost edge */
    animation: flutter-left 0.8s infinite;

}
.rightWing {
    top: 0px;
    left: -30px; /* Adjusted this */
    transform-origin: 100% 50%; /* Adjusted this to rotate from the other side */
    transform: scaleX(-1) rotate3d(1, 0, 0, -20deg);
    animation: flutter-right 0.8s infinite;
}

.leftWing, .rightWing, .butterfly {
    animation-timing-function: linear;
}

@keyframes flutter-left {
    0%, 100% {
        transform: rotate3d(0, 1, 0, -20deg) scale(1.03); /* Increased scale when wings are close */
    }
    50% {
        transform: rotate3d(0, 1, 0, -70deg) scale(0.97); /* Reduced scale when wings are open */
    }
}

@keyframes flutter-right {
    0%, 100% {
        transform: scaleX(-1) rotate3d(0, 1, 0, 20deg) scale(1.03);
    }
    50% {
        transform: scaleX(-1) rotate3d(0, 1, 0, 70deg) scale(0.97);
    }
}

@keyframes riseAndFall {
    0%, 100% {
        transform: scale(0.95); /* Start and end smaller as wings are extended */
    }
    50% {
        transform: scale(1.0); /* Peak size when wings are folded in */
    }
}