.butterfly {
    position: absolute;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }
  
  .butterfly::before, .butterfly::after {
    content: "";
    position: absolute;
    background-color: black;
  }
  
  .butterfly::before {
    width: 10px;
    height: 50px;
    border-radius: 5px;
    z-index: 1;
  }
  
  .butterfly::after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -10px;
    left: -5px;
    z-index: 1;
  }
  
  .leftWing, .rightWing {
    position: absolute;
    top: 20px;
    z-index: 0;
  }
  
  .leftWing {
    left: -100px;
  }
  
  .rightWing {
    right: -100px;
  }
  
  .wingSegment {
    width: 100px;
    height: 80px;
    background-color: var(--wing-color);
    border-radius: 60% 100% 100% 60%;
    position: relative;
    animation: flap 0.5s infinite alternate;
    transform-origin: 100% 50%;
  }
  /*
  @keyframes flap {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(-15deg);
    }
  }
  
  .lowerWingSegment {
    top: 60px;
    animation: flapLower 0.5s infinite alternate;
  }
  
  @keyframes flapLower {
    0% {
      transform: rotateX(0deg);
    }
    100% {
      transform: rotateX(15deg);
    }
  }
  */
  .antennae {
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: space-between;
    width: 30px;
    z-index: 2;
  }
  
  .antenna {
    width: 2px;
    height: 15px;
    background-color: black;
    position: relative;
  }
  
  .antenna::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    background-color: black;
    border-radius: 50%;
  }
  